* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(../images/bgimage.jpg);
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
  
  }



  .register__box {
    position: relative;
    width: 350px;
    height: 570px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
  }

  .register__title {
    font-size: 2em;
    color: #000;
    text-align: center;
  }


  .input__box {
    position: relative;
    width: 310px;
    margin: 30px 30px;
    border-bottom: 2px solid #000;
  }

  .input__box .input__name {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
  }

  .input__box .input__field:focus ~ .input__name,
.input__box .input__field:valid ~ .input__name {
  top: -3px;
}