/* toastr.options = {
    "closeButton": false,
    "debug": true,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-center",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.image-container {
  position: relative;
  width: 65%; /* Lățimea dorită a imaginii */
  height: auto; /* Înălțimea va fi calculată în funcție de proporțiile imaginii */
  overflow: hidden; /* Ascundeți orice conținut care depășește containerul */
}

.separator {
    position: relative;
    margin: 100px 0; /* Spațiu de 100px sus și jos */
  }
  
  .separator::before {
    content: "";
    position: absolute;
    top: 50%; /* Plasăm linia în mijlocul div-ului separator */
    left: 0; /* Plasăm linia la începutul div-ului separator */
    transform: translateY(-50%); /* Centrăm linia vertical în raport cu div-ul separator */
    width: 1px; /* Lățimea liniei verticale */
    height: calc(100% - 20px); /* Înălțimea liniei verticale care va umple înălțimea div-ului separator */
    background-color: transparent; /* Setăm culoarea de fundal transparentă */
    box-shadow: 
      0 0 30px 30px rgba(28, 8, 44, 0.3), /* O umbră mai mare și mai opacă în mijloc */
      0 0 20px 20px rgba(0, 0, 0, 0.5), /* O umbră mai mică și mai transparentă în exterior */
      0 0 10px 10px rgba(48, 18, 130, 0.7); /* O umbră și mai mică și mai transparentă în exterior */
  }
  
  

.background-image {
  width: 100%;
  height: 100vh;
  background-image: url("colorful-wavy-backgr.jpg"); /* Adăugarea imaginii de fundal */
  background-size: cover; /* Asigură că imaginea se va întinde pentru a umple complet containerul */
  background-position: center; /* Centrează imaginea */
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    #080c15
  ); /* Gradientul care trece de la transparent la alb */
  pointer-events: none; /* Permite evenimentele de la mouse să treacă prin gradient */
}

.form__container {
  width: 35%;
  background-color: #080c15;
}
