body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    background-image: url(to-do-list.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    
}

.header__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(186, 163, 73);
    border-top:  none;
    background: linear-gradient(to bottom, #c8b989, #9A7644);
    color: #000000;
}

.controls__input:hover, .controls__input:focus {
    background-color: #ac9e8c;

}

.controls__input {
    background-color: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    margin-right: 10px;
    border: 2px solid #000000;
    padding: 6px;
}

.controls__button {
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    padding:6px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}


.controls__button:hover {
    color: rgb(0, 255, 0);
    border-color:rgb(0, 255, 0);
}


.main__section {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

}


footer {
    /* background: linear-gradient(to bottom, #9A7644, #c8b989); */
    color: #fff;
    display: inline;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: start;
    font-size: 10px;
  }   




/*  */
/*  */
/*  */

.create-div {
    width: 350px;
    height:350px;
    border: 3px solid #000000;
    padding: 0 10px;
    overflow: auto;
    border-radius: 4px;
}

.create-div:hover {
    backdrop-filter: blur(20.774227142333984px); 
}

.top-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.remove__list__button {
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 4px;
}


.remove__list__button:hover {
    color: red;
    border-color: red ;
}

.h2__div {
    color: black;
    /* font-family: sans-serif; */
}
div{
    display: inline;
}

.bottom__div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;

}

.second__button {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0);
    color: black;
    border: 2px solid black;
    padding: 5px 17px;
    border-radius: 4px;

}

.second__button:hover {
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

.second__input {
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 17px;
    margin-right: 21px;
}

.second__input:hover {
    background-color: #ac9e8c;

}

.second__input:focus {
    background-color: #ac9e8c;
}


.input__and__bottom {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
 


.list__ul{
    padding: 0;
    list-style-type: disc;

}

.list__item {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: medium;
    font-family: sans-serif;
    border: 1px solid #9A7644;
    padding: 5px;
    background-color: #ac9e8c;
    border-radius: 4px;
    align-items: center;
    list-style-type: circle;
    margin-left: 10px ;
    
}



.remove__each__item {
    text-align: center;
    border: 1px solid red;
    color: red;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 4px;
}

.remove__each__item:hover {
    color: #000000;
    background-color: red;
    border-color: #000000;
}

.remove__list__container {
    width: 30%;
}


.title__container {
    width: 70%;
}

.second__input__container{
    width: 70%;
}

.second__add__button__container {
    width: 30%;
}