@media screen and (max-width:1052px) {
  
    .nav {
        justify-content: space-around;
        padding: 0;
        
    }

    .container {
        background: transparent;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    .container .content {
        display: none;
    }

    .container .form__box {
        position: relative;
    
        width: 512px;

    }

    .form__box .register__container {
        /* backdrop-filter: none; */
        border: 2px solid rgba(255, 255, 255, 0.5);
        /* background-color: rgba(255, 255, 255, 0.2);
        mix-blend-mode: difference;  */
        height: auto;
        border-radius: 25px;

    }

    .top span {
        color: #000000;
        font-size: 17px ;

    }

    .top span a {
        color: #000000;
        font-weight: 700;
        font-size: 17px ;
    }

    header {
        color: #000000;
        margin-bottom: 10px;
    }

    .input__field {
        /* background-color: rgba(59, 59, 59, 0.629);  */
        color: rgb(0, 0, 0);
    }

    .input__field:hover, .input__field:focus {
        background: rgba(255, 255, 255, 0.25);
    }

    ::-webkit-input-placeholder {
        color: rgb(65, 65, 65);
    }
    
    .remember__terms {
        font-size: 15px;
        margin: 6px 35px;
    }

    
    .remember__terms .terms label a {
    font-weight: 700;
    }
 
}


@media screen and (max-width:790px) {
    .nav__button {
        display: none;
    }

    .nav__menu.responsive {
        top: 100px;
    }

    .nav__menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav__menu ul {
        flex-direction: column;
        text-align: center;
        /* font-size: 20px; */
        /* margin:10px; */

    }

    .nav__menu ul li {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .nav__menu__btn {
        display: block;
    }

    .nav__menu__btn i {
        font-size: 25px;
        color: #000000;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav__menu__btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }



}

@media screen and (max-width: 500px) {
    /* .two__forms {
        display:  ;
    } */

    .container .form__box {
        width: 100%;
        height: 100%;
    }

    .input__box__fullname {
        display: block;
        font-size: 15px;
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
        height: 50px;
        /* width: 100%; */
        margin-right: 30px;
        /* padding: 0 10px 0 45px; */
        margin-left: 30px;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    .input__box__fullname i {
        position: relative;
        top: -35px;
        left: 17px;
        color: #000;
    }

    /* .two__forms {
        display: none;
    } */

    .remember__terms {
        margin: 0px 10px;
    }
}