.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
    display: flex;
    gap: 30px;
    padding: 10px;

 

}
 .MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
    padding-top: 10px;
}

