.success-border {
    border: 3px solid green;
}

.error-border {
    border: 3px solid red
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(0, 0%, 100%);
    color: rgb(107, 107, 107);
    font-size: 18px;
    font-family: Space Grotesk;
    font-weight: 500;
    height: 100vh;
    width: 100%;

}

.main__container{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.main__background {
    width: 30%;
    height: 100vh;
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.main__cards{
    width: 45%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-left: -20%;
} 

.front__card{
    width: 400px;
    height: 220px;
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 8px;
    margin-top: 140px;
    
}


.back__card{
    width: 400px;
    height: 220px;
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 8px;
    margin-left: 100px;
    
}

.card__svg{
    margin: 20px;
}

.form__container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input, .expiry__mouth__input, .expiry__year__input{
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

input:focus {
    /* background-color: rgb(195, 131, 255); */
    border: 2px solid red;    
}
input:hover {
    border: 3px solid blueviolet;

}

.all__fields:focus {
    border: 2px solid red;
}

input::placeholder {
    color: rgb(184, 184, 184);
}


.user__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.exp__and__cvc {
    display: flex;
    flex-direction: row;
    gap: 50px;
} 


.cvc__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.confirm__button {
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(34,9,48,255);
    color: white;
    font-family: space grotesk;
}

.card__name{
    display: flex;
    flex-direction: column;
}

.card__number{
    display: flex;
    flex-direction: column;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
    

}

.card__number__display {
   margin-left:35px;
   font-size: 20px;
}


.name__and__exp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    
}

.card__cvc__display {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

