:root {
    --main-color: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite ;
}
/* 
@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
    
} */

.login__box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);

}

.login__title {
    font-size: 2em;
    color: var(--main-color);
    text-align: center;

}

.input__box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid var(--main-color);
}

.input__box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--main-color);
    pointer-events: none;
    transition: .5s;
}

.input__box input:focus~label,
.input__box input:valid~label {
    top: -5px;
}



.input__box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--main-color);
    padding: 0 35px 0 5px;
    /* backdrop-filter: ; */
}

.input__box .icon {
    position: absolute;
    right: 8px;
    color: var(--main-color);
    font-size: 1.2em;
    line-height: 57px;

}


.remember__forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.remember__forgot label input {
    margin-right: 3px;
}

.remember__forgot a {
    color: var(--main-color);
    text-decoration: none;
}

.remember__forgot a:hover {
    text-decoration: underline;
}


button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register__link {
    font-size: .9em;
    color: var(--main-color);
    text-align: center;
    margin: 25px 0 10px;
}

.register__link p a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
}

.register__link p a:hover {
    text-decoration: underline;
}


@media (max-width: 360px) {
    .login__box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input__box {
        width: 290px;
    }
}